# ── Supabase ────────────────────────────────────────────────
# Obtené estos valores en: https://supabase.com → proyecto → Settings → API

NEXT_PUBLIC_SUPABASE_URL=https://teibonnocqujikxbytzl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlaWJvbm5vY3F1amlreGJ5dHpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyOTY4MzMsImV4cCI6MjA5NDg3MjgzM30.wFRR7-HzBt2Aqfc_plwj_9-qLMq6cI1nz-9sn4_Izko
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlaWJvbm5vY3F1amlreGJ5dHpsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI5NjgzMywiZXhwIjoyMDk0ODcyODMzfQ.aRqm_CoLtmkXmAyUOKc-vGu2au0nm4IvHwDuN29nnQA

# ── App ─────────────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3000
